
body a{
	margin: 0;
	padding: 0;
	font-family: "ArialRegular", sans-serif;
}
.wrapper{
	/*background: red;*/
	max-width: 1188px;
	min-width: 1188px;
	margin: auto;
	height: 140px;
}

.header a{
	text-decoration: none;
	color: #82887f;
	text-transform: uppercase;
	font-size: 11px;
}

.upsearch{
	text-align: right;
}

.upsearch a, img{
	display: block;
	float: left;
}

.upsearch img{
	margin-top: 25px;
}

.upsearch a{
	margin-top: 85px;
	font-size: 11px;
}

.upsearch a:nth-child(2){
	margin-left: 64px;
}

.upsearch a:nth-child(3){
	margin-left: 45px;
}

.f1 {	
	float: left;
}

.f1 input:first-child {
	width:656px;
	height: 28px;
	padding: 0;
	border: 1px solid #898989;
	font-size: 16px;
	margin: 0px -6px 0 0;
}

.f1 input:nth-child(2) {
	width:75px;
	height: 30px;
	vertical-align: top;
	background: black;
	margin: 0 0 0px 0;
	color:white;
	text-transform: uppercase;
	border: none;
	font-size: 11px;
	font-weight: bold;
}


.f2 {
	display: inline-block;
}

.f2 form {
	background: #c3dff7;
	width: 260px;
	height: 74px;
	padding-top: 30px;
}

.login{
	display: block;
	width: 178px;
	height: 20px;
	padding: 0;
	border: none;
	margin: auto;
}

.login-input2{
	margin-top: 10px;
}

.rsub{
	display: block;
	float: left;
	background: #c3dff7;
	margin: 3px 0 0px 35px;
	color: #3c99e6;
	text-transform: uppercase;
	border: none;
	font-size: 11px;
}

.rsub2{
	margin: 3px 0 0px 10px;
}
.search{
	margin-top: 10px;
	height: 30px;
}

.search > a{
	display: block;
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}

 .addad{
	float: right;
	background: #898989;
	width: 260px;
	height: 28px;
	text-align: center;
	font-size: 18px;
}

 .addad a{
	color: white;
	font-size: 11px;
	line-height: 30px;
}

.addad::after{
	display: inline-block;
	background: url("../images/plus.jpg") no-repeat;
	width: 28px;
	height: 29px;
	content: '';
	float: right;
}
